{
    "garmin_account" : {
        "email" : "<Your Email for Garmin Connect>",
        "password" : "<base64 Encoded Garming Connect Password>"
    },
    "router": {
        "user": "<router username>",
        "password": "<base64 Encoded Nighthawk Router Password>"
    },
    "calendar_id": "<Google Calendar ID to Use>",
    "refresh_time_sec": <Seconds (int) to sleep for each cycle check.  10m (600) is a decent value to avoid getting rate limited by garmin>
}